:root {
    --shadow: 0 0 30px gray;
    --border: 1px solid rgb(119, 119, 119);
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--shadow);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

body main img {
    width: 200px;
    min-height: auto;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    box-shadow: var(--shadow);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 10px;
    border: 1px solid black;
    text-align: center;
}