:root {
    --shadow: 0 0 30px gray;
    --border: 1px solid rgb(119, 119, 119);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}	

nav {
    background-color: #107951;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    flex: auto;
    text-decoration: none;
    font-size: 1.2rem;
}

h1 {
    color: #107951;
    border-bottom-style: solid;
    border-bottom-color: #333;
    padding: 1rem;
    text-align: center;
    margin-bottom: 5%;
}

p {
    font-size: 1.3rem;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

main {
    grid-column: 1/2;
    grid-row: 1/2;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 0.1rem;
    background-color: #eee;
    box-shadow: var(--shadow);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    text-align: center;
    grid-column: 2/3;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    text-align: center;  
}

header, footer {
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    color: rgb(15, 15, 15);
}
